<!--
  run with:
  python3 -m http.server 10003 --cgi

  make sure perms on cgi-bin/save_file.py are 755
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Incredblitastic Image Uploader</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
  <main>
    <h1>Incredblitastic Image Uploader</h1>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>