extends layout

block content
  
  button#backButton(type="button" onclick="window.history.back();") Back

  div.containersearch
        form#searchForm(action="/search", method="get")
        input#search(type="text", name="query", placeholder="Search...")
        button#searchlist(type="submit") Search

  div.list-container
    
    
